@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Merriweather&family=Montserrat:wght@100;400;700;900&family=Roboto&family=Sacramento&family=Titillium+Web&family=Ubuntu&family=Work+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --first:#F3F1F5;
    --second:#F0D9FF;
    --third:#BFA2DB;
    --fourth:#7F7C82;
}

body{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}


a{
    text-decoration: none;
}
/* utlity classes */
.logo a{
    color:black;
    font-family:  'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    transition: all 0.3s;
    margin:1rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.logo a:hover{
    border:#333 1px solid;
    border-radius: 10px;
    
}

.dark-btn{
    color:black;
    border:#333 2px solid;
    padding:1rem 2rem;
    border-radius: 15px;
    display: inline-block;
    transition: all 0.2s; 
    margin-left: 18rem;
}

.dark-btn:hover{
    background-color: #333;
    color: var(--first);
}

.focus{
    background-color: #ddd;
}

/* navbar and header part styling code */

#head{
    background-color: var(--first);
}

#head .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head .navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-right:1rem;
}

#head .navbar ul li{
    padding:1.5rem;
}

#head .navbar ul li a{
    text-decoration: none;
    color:black;
}

#head .navbar ul li:hover{
    opacity: 0.8;
    cursor: pointer;
}


/* contact area styling part */

#main-contact{
    background-color: var(--second);
    height:100vh;
    border-top: #333 1px solid;
    
}

#main-contact form .main-heading{
    font-size:2rem;
    width:700px;
    padding:2rem 0;
    font-weight: 500;
}

#main-contact form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: #333 2px solid;
        margin:0 25rem;
        margin-top:2rem;
        border-radius: 10px;
}

#main-contact form .form-wrap{
    padding: 0.5rem;

    max-width: 700px;
    margin: auto;
}

#main-contact form .form-wrap label{
    display: block;
    margin:0.5rem;
    max-width: 700px;

    font-size: 1.5rem;
}

#main-contact form .form-wrap input,#main-contact form .form-wrap textarea{
      padding-left: 1rem;
      width:600px;
      height:25px;
      outline: none;
      border: var(--third) 1px solid;
      padding:1rem;
    
    }

    #main-contact form .form-wrap textarea{
        height:200px;
        margin-bottom: 1rem;
    }

    #main-contact form .form-wrap input:focus,#main-contact form .form-wrap textarea:focus{
        border: #555 1px solid;
    }

    #main-contact form button{
       border: none;
        background-color: #333;
        color:white;
        padding:1rem 2rem;
        border-radius: 10px;
        margin-bottom: 1.5rem;
    }

    #main-contact form button:hover{
        background-color: var(--third);
    }