@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Merriweather&family=Montserrat:wght@100;400;700;900&family=Roboto&family=Sacramento&family=Titillium+Web&family=Ubuntu&family=Work+Sans:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* utility classes */
body{
    
    font-family: 'Montserrat', sans-serif;   
}

h2{
    font-size: 1rem;
    font-weight:600;
}

h3{
   font-size: 0.6rem;
}

p{
    font-size:0.7rem;
    line-height: 1.2;
}


/* styling the menu */
.navbar{
    color:white;
    background-color: #333;
    padding-bottom: 1rem;
}


.navbar .menu li a,.navbar .menu ul li ul li a{
    text-decoration: none;
    color:white;
}

.navbar .menu ul li ul li{
    list-style-type: disc;
    text-align: center;
}

#top .navbar h1{
    padding-top: 1rem;
    font-size:2rem;
    text-align: center;
    padding-bottom: 1rem;
}

#top .navbar ul{
    list-style:none;
}

#top .navbar ul li{
    padding:0.5rem;
    width:100%;
    font-weight: 600;
}

#top .navbar ul li a{
    text-decoration: none;
    color:#ddd;
}

#top .navbar ul li ul li a{
     font-weight:500;
     text-align: center;
}

#top .navbar ul li a:hover,#top .navbar ul li button:hover{
   opacity: 0.6;
}

/* content section code */

#content .first-part{
    padding:1.5rem;
}

#content .main-heading{
    border-bottom:1px #333 solid;
    padding-bottom: 0.5rem;
    margin-bottom:1rem;
}
#content .main-heading h1{
    font-size: 1.5rem;

}

#content .main-heading p{
    font-size:0.75rem;
}
/* content section */
#overview h2,#web h2{
    padding-bottom: 1rem;
    border-bottom: 1px #333 solid;
    margin-bottom:0.5rem;
}

#basic,#web{
    margin-top: 1.5rem;
    
}

#basic h2,#basic h3{
    padding-top:0.5rem;
    border-bottom: #333 1px solid;
    padding-bottom:0.7rem;
    margin-bottom: 0.7rem;
}

#basic h3{
    padding-top:0.7rem;
    padding-bottom:0.2rem;
}

#web .new-div{
    margin-bottom:0.5rem;
}

#box-1,#box-2{
    padding-top: 0.75rem;
    margin-bottom: 0.5rem;

}

#web .box h3{
    border-bottom: #333 1px solid;
}



#gist h2,#resource h2{
    padding-top:1rem;
    border-bottom: #333 1px solid;
    padding-bottom:0.75rem;
    margin-bottom: 0.75rem;
}

#resource a{
    text-decoration: none;
    font-size:1rem;
    display:block;
    padding:0.75rem;
}


/* footer section */

/* fotter section styling  */
#bottom{
    background-color: #333;
    color:white;
    text-align: center;
    list-style: 1.5;
    padding:2rem;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


#bottom h1{
    font-size: 1.5rem;
    font-weight:500;
}

#bottom p{
    margin-top:1rem;
    font-size: 1rem;
    font-weight: 300;
}

#bottom .links a{
    padding:1rem;
    color:white;
    text-decoration: none;
    transition: all 0.2;
}

#bottom .links a:hover{
    color:blue;
    font-size:1.3rem;
}

/* images styling  */
#overview img,.box img{
    width:350px;
    border-radius: 10px;
    padding-bottom: 0.75rem;
}

.box img{
    height:200px;
    
}

#box-1 img,#box-2 img{
    height:300px;
    width:350px;
    border-radius: 10px;
    padding-bottom: 1rem;
    padding-top:1.5rem;
}

/* hamburger menu */
 
 #menuToggle
 {
   display: block;
   position: relative;
   top:0px;
   left:50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 

 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 .menu
 {
   position: absolute;
   width: 100%;
   height: 100vh;
   overflow: scroll;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #333;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 .menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }