@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Merriweather&family=Montserrat:wght@100;400;700;900&family=Roboto&family=Sacramento&family=Titillium+Web&family=Ubuntu&family=Work+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --first:#F3F1F5;
    --second:#F0D9FF;
    --third:#BFA2DB;
    --fourth:#7F7C82;
}

body{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}


a{
    text-decoration: none;
}
/* utlity classes */
.logo a{
    color:black;
    font-family:  'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    transition: all 0.3s;
    margin:1rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.logo a:hover{
    border:#333 1px solid;
    border-radius: 10px;
    
}

.dark-btn{
    color:black;
    border:#333 2px solid;
    padding:1rem 2rem;
    border-radius: 15px;
    display: inline-block;
    transition: all 0.2s; 
    margin-left: 18rem;
}

.dark-btn:hover{
    background-color: #333;
    color: var(--first);
}

.focus{
    background-color: var(--third);
}

/* navbar and header part styling code */

#head{
    background-color: var(--second);
    height: 100vh;
}

#head .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head .navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-right:1rem;
}

#head .navbar ul li{
    padding:1.5rem;
}

#head .navbar ul li a{
    text-decoration: none;
    color:black;
}

#head .navbar ul li:hover{
    opacity: 0.8;
    cursor: pointer;
}


/* main content styling */

#main-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading{
    font-size: 10rem;
    padding-top: 2rem;
    font-weight: 500;
    border-bottom: #333 3px solid;
}

.main-content{
    font-size: 1.5rem;
    margin: auto;
    max-width: 800px;
    padding-top: 4rem;
    padding-bottom: 2rem;

}


